 <body>
<input type="text" class="form-control" placeholder="text" id="input" oninput="myFunction()">
<p id="hexOut"></p>
</body>

<script>
function myFunction() {
   document.getElementById("hexOut").innerHTML = text2Binary(document.getElementById("input").value,16);
}

function text2Binary(string,base) {
    return string.split('').map(function (char) {
        return char.charCodeAt(0).toString(base);
    }).join(' ');
}
</script>