<div class="column centeredDiv">
  <div class="row">
    <a class="btn btn-outline-primary" href="/binary" role="button">plaintext to binary</a>
    <a class="btn btn-outline-primary" href="/hex" role="button">plaintext to hex</a>
  </div>
</div>