<div class="column centeredDiv">
   <p>Converters</p>
  <div class="d-grid gap-2 d-md-block">
    <a class="btn btn-outline-primary" href="/binary" role="button">Plaintext to Binary</a>
    <a class="btn btn-outline-primary" href="/hex" role="button">Plaintext to Hex</a>
    <a class="btn btn-outline-primary" href="/converters/ascii" role="button">Plaintext to ACSII</a>
  </div>

<br>
  <p>Ciphers</p>
   <div class="d-grid gap-2 d-md-block">
    <a class="btn btn-outline-primary" href="/ciphers/vigenere" role="button">Vigenere Cipher</a>
    <a class="btn btn-outline-primary" href="/ciphers/ceaser" role="button">Ceaser Cipher Encoder</a>
    <a class="btn btn-outline-primary" href="/ciphers/ceaserSolver" role="button">Ceaser Cipher Decoder</a>
    <a class="btn btn-outline-primary" href="/ciphers/rot13" role="button">ROT-13</a>
    <a class="btn btn-outline-primary" href="/ciphers/rot47" role="button">ROT-47</a>
    <a class="btn btn-outline-primary" href="/ciphers/randomSub" role="button">Substitution Cipher</a>
    <a class="btn btn-outline-primary" href="/ciphers/morse" role="button">Morse Encoder</a>
    <a class="btn btn-outline-primary" href="/ciphers/morseDecoder" role="button">Morse Decoder</a>
    <a class="btn btn-outline-primary" href="/ciphers/cistercian" role="button">Cistercian Numeral generator</a>
    <a class="btn btn-outline-primary" href="/ciphers/pigpen" role="button">Pig Pen Cipher Encoder</a>
    <a class="btn btn-outline-primary" href="/ciphers/templar" role="button">Knights Templar Cipher Encoder</a>
  </div>

<br>
<p>Analysis Tools<p>
  <div class="d-grid gap-2 d-md-block">
    <a class="btn btn-outline-primary" href="analysis/LetterFrequency" role="button">Frequency Analysis</a>
    <a class="btn btn-outline-primary" href="analysis/findFactors" role="button">Find Prime Factors</a>
  </div>  
</div>
