<div class="column centeredDiv">
   <p>Converters</p>
  <div class="d-grid gap-2 d-md-block">
    <a class="btn btn-outline-primary" href="/binary" role="button">plaintext to binary</a>
    <a class="btn btn-outline-primary" href="/hex" role="button">plaintext to hex</a>
  </div>

<br>
  <p>Ciphers</p>
   <div class="d-grid gap-2 d-md-block">
    <a class="btn btn-outline-primary" href="/ciphers/vigenere" role="button">Vigenere Cipher</a>
    <a class="btn btn-outline-primary" href="/ciphers/ceaser" role="button">Ceaser Cipher</a>
  </div>
</div>