<div class="column centeredDiv">
  <div class="d-grid gap-2 d-md-block">
    <a class="btn btn-outline-primary" href="/binary" role="button">plaintext to binary</a>
    <a class="btn btn-outline-primary" href="/hex" role="button">plaintext to hex</a>
    <a class="btn btn-outline-primary" href="/ciphers/vigenere" role="button">Vigenere Cipher</a>
  </div>
</div>