<body>
<form class="d-flex">
<input type="text" class="form-control" placeholder="text" id="input" oninput="myFunction()" style="width:90%;">
<input type="number" class="form-control" min="0" max="25" style="width:10%;" value="0" id="shiftVal" oninput="myFunction()">
</form>
<p id="output"></p>
</body>

<script>
function myFunction() {
   document.getElementById("output").innerHTML = ceaserShift(document.getElementById("input").value,
                                    parseInt(document.getElementById("shiftVal").value));
}

function ceaserShift(string,shiftVal) {
    return string.split('').map(function (char) {
         
         charCode = char.charCodeAt(0);
         if(charCode >= 65 && charCode <=90){
            charCode = (charCode + shiftVal - 65)%26 + 65;
         }
         else if(charCode >=97 &&  charCode <= 122){
            charCode = (charCode + shiftVal - 97)%26 + 97;
         }


        return String.fromCharCode(charCode);
    }).join('');
}
</script>