<form class="d-flex">
<input type="text" class="form-control" placeholder="text" id="input" oninput="myFunction()">
</form>
<p id="output"></p>

<script>
    function myFunction(){
        document.getElementById("output").innerHTML = frequencyAnalysis(document.getElementById("input").value);
    }

    function frequencyAnalysis(input){
        var chars = {}; 
        output = input.split('').map(function (char) {
            if(char == ","){
                char = "&#44" //This seperates commas between frequencies with commas that are a part of the input
            }
            
            if(char in chars){
                chars[char] += 1
            } else{
                chars[char] = 1
            }
        });

    
        var sortable = [];
        for (var letter in chars) {
            sortable.push([letter, chars[letter]]);
        }

        sortable.sort(function(a, b) {
            return b[1] - a[1];
        });

        console.log(sortable.toString())
        return sortable.join("<br>")
    }
</script>