<form class="d-flex">
<input type="text" class="form-control" placeholder="text" id="input" oninput="myFunction()">
</form>
<table style="width:100%" id="output">
</table>

<script>
    function myFunction(){
        document.getElementById("output").innerHTML = frequencyAnalysis(document.getElementById("input").value);
    }

    function frequencyAnalysis(input){
        var chars = {}; 
        var total = 0;
        output = input.split('').map(function (char) {
            if(char == ","){
                char = "&#44" //This seperates commas between frequencies with commas that are a part of the input
            }

           if(char != " "){
                total++;
            }
            
            if(char in chars){
                chars[char] += 1
            } else{
                chars[char] = 1
            }
        });

    
        var sortable = [];
        for (var letter in chars) {
            sortable.push([letter, chars[letter]]);
        }

        sortable.sort(function(a, b) {
            return b[1] - a[1];
        });

        for(var i=0; i<sortable.length;i++){
            if(sortable[i][0] != " ")
            sortable[i] += `,${((chars[sortable[i][0]]*100)/total).toPrecision(4)}%`;
            else
            sortable[i] += ","

            sortable[i] = "<tr><td>" + sortable[i] + "</td></tr>"
        }
        
        return "<tr><th>Letter</th><th>Frequency</th> <th>Percentage</th></tr>" +
        sortable.join().replaceAll(",","</td><td>")
    }
</script>