<nav class="navbar navbar-dark bg-primary">
 <!-- Example single danger button -->
<div class="btn-group left">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Converters
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/home">Home</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="/binary">Text to Binary</a></li>
    <li><a class="dropdown-item" href="/hex">Text to Hex</a></li>
  </ul>
</div>
 
  <h1 class="right" style="color:#FFFFFF"><a class="navbar-brand" href='/home'>Converter</a></h1>

</nav>